{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div id="index">
        
        <div class = "container-fluid">
            <h1>Hello, {{ user }}</h1>
        </div>

        <h1 class = "text-center">Set Completion</h1>
        <div id="myProgress">
            <div id="myBar">{{ ((owned / sets|length)*100) | round | int}} %</div>
        </div>
        <p style="visibility: hidden;" id="unlocked">{{ owned / sets|length }}</p>

        <div id="main_index">
            
            <div class = "mx-auto p-2 d-flex">
                            {% if set_dates is none %}
                                <p>Not Available</p>
                            {% else %}
                                <div class = "d-flex flex-row mb-3 grid gap-0 column-gap-4 d-flex justify-content-center align-items-center" style="height: 25%; width:100%">
                                <div class = "p-2 g-col-6 border border-primary rounded-3 border-4 image_preset d-flex flex-column justify-content-center align-items-center" >
                                    <div class = "image_sorround d-flex justify-content-center align-items-center">
                                    <img class = "size" alt="{{ set_dates[0]['name'] }}" src="{{ set_dates[0]['image'] }}">
                                    </div>
                                    <h4><a class="btn btn-primary" href="/set/{{ set_dates[0]['set_num'] }}">Oldest Set</a></h4>
                                </div>
                                <div class="p-2 g-col-6 border border-primary rounded-3 border-4 image_preset d-flex flex-column justify-content-center align-items-center text-center">
                                    <h1 class="display-2 fw-bold text-primary">{{ owned }} / {{ sets|length }} <br>Owned</h1>
                                </div>
                                <div class = "p-2 g-col-6 border border-primary rounded-3 border-4 image_preset d-flex flex-column justify-content-center align-items-center">
                                    <div class = "image_sorround d-flex justify-content-center align-items-center">
                                    <img class = "size" alt="{{ set_dates[1]['name'] }}" src="{{ set_dates[1]['image'] }}">
                                    </div>
                                    <h4><a class="btn btn-primary" href="/set/{{ set_dates[1]['set_num'] }}">Newest Set</a></h4>
                                </div>
                                {% endif %}
                                </div>
                    </div>
            </div>
            <div>
                <h4></h4>
            </div>
        </div>
        <h1 class = "text-center">Your Sets</h1>
        {% if owned_sets %}
    {% set setslen = owned_sets| length%}
    {% set carlen = setslen / 4 %}
    {% if setslen / 4 != 0 %}
        {% set carlen = setslen // 4 + 1 %}
    {% endif %}
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            {% for i in range(0, setslen, 3) %}
                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
                    <div class="d-flex justify-content-center align-items-center grid gap-0 column-gap-4">
                        {% for owned_set in owned_sets[i:i+3] %}
                            <div class="p-2 g-col-3 border border-primary rounded-3 border-4 image_preset d-flex flex-column justify-content-center align-items-center">
                                <div class="image_sorround d-flex justify-content-center align-items-center">
                                    <img class="size" alt="{{ owned_set['image'] }}" src="{{ owned_set['image'] }}">
                                </div>
                                <h4><a class="btn btn-primary" href="/set/{{ owned_set['set_num'] }}">Go to Set</a></h4>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    
{% else %}
    <h1> No sets available.</h1>
{% endif %}


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            move();
        });

        function move() {
            var i = 0;

            if (i == 0) {
                i = 1;
                var elem = document.getElementById("myBar");
                var unlocked = parseFloat(document.getElementById("unlocked").textContent); // Get the text content and convert to float
                var id = setInterval(frame, 10);

                function frame() {
                    var size = unlocked * 100; // Recalculate size inside frame function
                    if (size >= 100) {
                        clearInterval(id);
                        i = 0;
                    } else {
                        elem.style.width = size + "%";
                        elem.innerHTML = size.toFixed(0) + "%"; // Round to integer and set as innerHTML
                    }
                }
            }
        }
        
    </script>
{% endblock %}
