{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Register</h1>
    <form action = "/register" autocomplete="off" method = "post">
        <input autofocus = "on" method = "post" type = "text" name = "username" placeholder="Username">
        <input type = "password" name = "password" placeholder="Password">
        <input type = "password" name = "conf" placeholder="Confirm Password">
        <button class = "btn btn-primary" type = "submit">Register</button>
    </form>
    <p id="bad-input">  
        {% if bad_user %}
            Invalid or taken username!
        {% elif bad_pass %}
            Passwords must have at least 8 characters, one upper case letter, one lower case letter, one number, and one of these symbols ($,*,@,#,(,))
        {% elif bad_conf %}
            Passwords do not match!
        {% endif %}
    </p>
    
    
{% endblock %}

